body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #2c3e50;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */
/* 
tr:hover {
    background-color: #ddd;
} */