# ----------------------------
# Python
# ----------------------------
__pycache__/

# ----------------------------
# Django
# ----------------------------
db.sqlite3

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.swp
*.swo
