# Environment & secrets
.env
.env.*

# Django
db.sqlite3
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
migrations/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Byte-compiled
*.egg-info/
dist/
build/